html, body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;

	background: white;
	color: rgb(40, 40, 40);
}

.center-wrap {
	display: inline-block;


	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: fit-content;
    margin: auto;

    word-wrap: break-word;
	
}